# Hello Jupyter Notebook

Jupyter notebooks is a great code editor for machine learning. Play around with the following cells to familiarize yourself with it.

### Cheat sheet

1. Double-click me!
2. Now you see me in edit mode (see the green box around me?) This means you can write stuff.
3. Now, hit Escape on your keyboard (see the box turn blue?) This means you are in command mode and can do lots of cool stuff. Try any of the following:
  - H (see **H**elp page)
  - A (insert cell **A**bove)
  - B (insert cell **B**elow)
4. Now, click me again, and execute me by running **Shift + Enter**. This is how you execute code in Jupyter. Try executing the following cells

In [1]:
print('Hello world!')

Hello world!

In [2]:
100/10*5

50

In [3]:
# When in doubt, you can use the '?' suffix to bring up the documentation
print?

Object `print` not found.

# Hello Python

### Variables

In [4]:
# this is how you define a variable
a = 10
print(a)
print(a+a)

some_variable = 'hello world'
print(some_variable)

10
20
hello world

In [5]:
# define variable my_name and assign your own name (e.g. 'david') to it. and then print it:

# YOUR CODE HERE:

In [6]:
# Virtually everything in programming in case-sensitive
b = 10
B = 2000
print(b)

10

### Math operators

In [7]:
1 + 1

2

In [8]:
10/2

5

In [9]:
10*3

30

### Boolean operators

In [10]:
# Boolean (true/false) operators 
1 == 1

True

In [11]:
1 == 2

False

In [12]:
2 > 1

True

In [14]:
# joining boolean statements with 'and'
3 > 1 and 3 > 2

True

In [15]:
print('hello' == 'hello')
print('hello' != 'bye')

True
True

### Arrays

In [16]:
# Arrays = Lists
# Arrays are denoted with square brackets - []
my_array = [100, 200, 300, 1000, 4200]
print(my_array)

[100, 200, 300, 1000, 4200]

In [17]:
# Accessing elements in an array (in programming, counting starts from 0!)
my_array[0]

100

In [18]:
# Accessing a range of elements in an array with colon ':'
my_array[0:4] # this gives us the zeroth to the fourth (non-inclusive) elements

[100, 200, 300, 1000]

In [19]:
my_array[:] # this gives us everything in an array

[100, 200, 300, 1000, 4200]

### Functions

In [20]:
# Defining a function, meaning no result will come out
def add_2_numbers(a, b):
    return a + b

In [21]:
# Invoking a function
add_2_numbers(10, 200)

210

### Objects

In [22]:
# This is a class. Think of class as a blueprint for creating objects
class Person:
    def walk(self):
        print('i am walking!')
        
    def talk(self, topic):
        print('i am talking about ' + topic + '!')
        
    def add_2_numbers(self, a, b):
        return a + b

In [25]:
david = Person()
from sklearn.linear_model import LogisticRegression

In [24]:
# This is known as a 'method'. A method is a function that belongs to an object
david.walk()

i am walking!

In [27]:
# Make david talk

david.talk("Danny")
# in this case, you need to specify the topic, which is Alvin. We defined self as "david"

i am talking about Danny!

In [32]:
# Create another object and assign it to a variable of your choice. And then call all 3 of its methods:
# YOUR CODE HERE:

david.walk()

SyntaxError: invalid syntax (<ipython-input-32-bc6658edfb43>, line 4)

# Hello pandas

In [33]:
import pandas as pd

In [ ]:
# pandas is an object (remember Person?) that can do things (i.e. it has methods).
# To see all the methods,  type the object (e.g. pd) followed by a dot (.) and hit "Tab". You can then scroll through its methods
pd.

In [37]:
# To load a csv file as a dataframe
# A dataframe is like your excel table
df = pd.read_csv('./data/bank-marketing-data/bank-additional-balanced-dataset.csv')

df.head(3)

,Unnamed: 0,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
0,0,56,261,1,999,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,0
1,1,57,149,1,999,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,0
2,2,37,226,1,999,0,1.1,93.994,-36.4,4.857,...,0,0,1,0,0,0,0,1,0,0

In [ ]:
# Assign the output of this method to a variable
df = pd.read_csv('./data/bank-marketing-data/bank-additional-balanced-dataset.csv')

In [ ]:
# Again, df is an object that can do things (i.e. it has methods). Add a dot after df and hit "Tab to see its methods"
df.

In [39]:
# When in doubt about a method, you can either go to the official documentation (just google the library and method name), or use our good friend (?) 

# For example:
df.to_csv?

In [ ]:
# Pick another random method of df and find out what it does by using '?' 

# YOUR CODE HERE:

In [ ]:
# Some useful pandas methods:
# df.head(), df.head(7)
# df.describe()
# df.columns #Note: this is not a method, but an attribute. Notice that there are no brackets ()

In [44]:
# pd.Series
# A series is like a column in table.
# You can access series by referring to its column name:
# Example:
df['age']
df.columns
df["job_management"]
df["job_management"].value_counts()
# Try accessing other columns! (Use df.columns to see what columns are available to you)

0    8938
1     702
Name: job_management, dtype: int64

In [ ]:
# we can see unique values in a series by using the .value_counts() method
df['y'].value_counts()

# Hello Shell

To run shell commands in jupyter notebook, simply prefix the command with an exclamation mark (!)

In [9]:
# to list the contents of a directory
!ls

1-hello-jupyter.ipynb
2-classification-model-workshop-starter-code.ipynb
3-classification-model-workshop-solutions.ipynb
bin
classification-model-workshop-solutions.ipynb
comparing-models.ipynb
data
data-preprocessing.ipynb
full-analysis.ipynb
hello-jupyter.ipynb
logistic-regression-formula-playground.ipynb
README.md
requirements.txt

In [10]:
# to print working (i.e. current) directory
!pwd

/home/ubuntu/code/sim-workshop/workshop-repo-13

In [11]:
# to change directory
# cd <name-of-directory>

! cd .. && pwd

/home/ubuntu/code/sim-workshop

In [12]:
# To join shell commands, use &&
! cd ../.. && pwd
! cd data/bank-marketing-data && ls -l # -l are options of the ls command

/home/ubuntu/code
total 13348
-rw-rw-r-- 1 ubuntu ubuntu 1527290 Oct 11 05:36 bank-additional-balanced-dataset.csv
-rwxrwxr-x 1 ubuntu ubuntu 5834924 Oct 11 05:36 bank-additional-full.csv
-rw-rw-r-- 1 ubuntu ubuntu       0 Oct 11 05:36 bank-additional-names.txt
-rw-rw-r-- 1 ubuntu ubuntu 6297140 Oct 11 05:36 bank-additional-one-hot-encoded.csv
-rw-rw-r-- 1 ubuntu ubuntu    2706 Oct 11 05:36 bank-unseen-data.csv

In [14]:
# Hello git

In [15]:
# 1. Create git repository in a folder
!git init

Reinitialized existing Git repository in /home/ubuntu/code/sim-workshop/workshop-repo-13/.git/

In [16]:
# 2. Connect your local repository (i.e. on your desktop) to the remote repository (e.g. on github.com)
!git remote set-url origin https://github.com/anghuimin/test-trial.git

In [17]:
# 3. See the status of your git commits (this command can be run at anytime)
!git status

On branch master
Your branch is ahead of 'origin/master' by 1 commit.
  (use "git push" to publish your local commits)
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   hello-jupyter.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [18]:
# 3. Add your files to staging
!git add . # . means everything in the current working directory
# you can also add files or directories individually (e.g. git add my-file; git add my-directory/my-file; git add my-directory)

In [7]:
# 4. Commit your files to the repo
!git commit -m "created project"

[master 0a2b34d] created project
 Committer: David Tan <ubuntu@ip-10-0-0-10.us-west-2.compute.internal>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly:

    git config --global user.name "Your Name"
    git config --global user.email you@example.com

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 6 files changed, 2656 insertions(+), 282 deletions(-)

In [8]:
# !git push -u origin master
!git push https://<anghuimin>:<s9628659g>@github.com/anghuimin/test-trial.git --all

/bin/sh: 1: cannot open anghuimin: No such file